<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <!-- <script src="/socket.io/socket.io.js" defer></script> -->
    <script src="https://api.stage.embracesg.io/socket.io/socket.io.js"></script>
    <script src="script.js" defer></script>
    <title>Document</title>
    <style>
        #video-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-auto-rows: 300px;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Web RTC Demo</h1>
    <input id="email" type="text" placeholder="email">
    <input id="password" type="text" placeholder="password">
    <button onclick="login()">Login</button>
    <button onclick="loginAsChalaka()">Login as Chalaka</button>
    <button onclick="loginAsVishva()">Login as Vishva</button>

    <div>
        <button onclick="startCall()">Start call (patient)</button>
        <button onclick="endCall()">End call (patient)</button>
        <button onclick="joinCall()">Join call (volunteer)</button>
        <button onclick="leaveCall()">Leave call (volunteer)</button>
    </div>

    <div id="video-grid"></div>
</body>
</html>